/* Add your CSS styling here */
body {
    font-family: Arial, sans-serif;
}
.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.question {
    background-color: #f9f9f9; /* Light grey background */
    border: 2px solid #007bff; /* Blue border */
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
#questionText {
    text-align: center;
    color: #333; /* Dark grey color */
    font-size: 24px;
}
.options {
    list-style-type: none;
    padding: 0;
}
.options li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
}
.options li.correct {
    border-color: green;
}
.options li.wrong {
    border-color: red;
}
.score {
    font-size: 24px;
}